.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 5px;
}

.page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    text-decoration: none;
    color: #495057;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    font-size: 14px;
    transition: all 0.2s;
}

.page-link:hover {
    background-color: #f2e9fb;
    border-color: #a36cd9;
    color: #a36cd9;
}

/* 현재 페이지 강조 */
.page-link.active {
    background-color: #a36cd9;
    border-color: #a36cd9;
    color: white;
    font-weight: bold;
}